.image-78-icon {
    position: absolute;
    top: 339.95px;
    left: 220.17px;
    width: 205.49px;
    height: 165.95px;
    object-fit: cover;
  }
  .image-76-icon,
  .image-77-icon,
  .image-83-icon {
    position: absolute;
    top: 521.25px;
    left: 440.34px;
    width: 425.66px;
    height: 144.75px;
    object-fit: cover;
  }
  .image-77-icon,
  .image-83-icon {
    top: 0;
    left: 660.51px;
    width: 205.49px;
    height: 168.88px;
  }
  .image-77-icon {
    top: 184.96px;
    left: 440.34px;
    height: 320.94px;
  }
  .image-79-icon,
  .image-80-icon,
  .image-81-icon,
  .image-82-icon {
    position: absolute;
    top: 479.58px;
    left: 0;
    width: 205.49px;
    height: 186.42px;
    object-fit: cover;
  }
  .image-80-icon,
  .image-81-icon,
  .image-82-icon {
    top: 521.25px;
    left: 220.17px;
    height: 144.75px;
  }
  .image-81-icon,
  .image-82-icon {
    top: 184.96px;
    left: 660.51px;
    height: 160.1px;
  }
  .image-82-icon {
    top: 356.76px;
    height: 149.14px;
  }
  .image-78-parent {
    position: absolute;
    top: 296px;
    left: 444px;
    width: 866px;
    height: 666px;
  }
  